<div class="login-container" style="background-image: url('Library_Background.jpg');background-size: cover; width: 99vw; height: 97vh;">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <input type="text" [(ngModel)]="userName" name="userName" placeholder="Username" required /> <br> <br>
    <input type="password" [(ngModel)]="userPassword" name="userPassword" placeholder="Password" required /> <br> <br>

    <button type="submit">Login</button>
    <div *ngIf="error" style="color:red">{{ error }}</div>
  </form>
</div>