<!-- navbar.component.html -->
<nav class="navbar">
  <div class="logo">📚 MyLibrary</div>
  <!-- <div>Hello, {{</div> -->
  <ul class="nav-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/notifications">Notifications</a></li>
    <li><a routerLink="/fines">Fines</a></li>
    <li><a routerLink="/history">History</a></li>
  </ul>
  <div class="search-container">
    <input 
  type="text" 
  placeholder="Search by name, author, or genre..." 
  [(ngModel)]="searchTerm" 
  (input)="filterBooks()" 
  class="form-control mb-4"
/>
    <button class="search-btn"(click)="filterBooks()">🔍</button>
  </div>
</nav>
<div class="book-list">
<div class="book-card" *ngFor="let book of filteredBooks">
  <h4>{{ book.bookName }}</h4>
  <p><strong>Author:</strong> {{ book.author }}</p>
  <p><strong>Genre:</strong> {{ book.genre }}</p>
  <p class="meta"><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p class="meta"><strong>Published:</strong> {{ book.yearPublished }}</p>
  <p [ngClass]="book.availableCopies > 0 ? 'availability' : 'unavailable'">
    {{ book.availableCopies > 0 ? 'Available' : 'Unavailable' }}
  </p>
  <button [disabled]="book.availableCopies === 0" (click)="borrowBook(book.bookId)">
    {{ book.availableCopies > 0 ? 'Borrow' : 'Not Available' }}
  </button>
</div>
</div>




